

*{
margin: 0%;
padding: 0%;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgba(255, 255, 255, 0.815);
color: aliceblue;
text-rendering: geometricPrecision;
}
#divGeral{
margin: auto;
width: 100%;
background-color: rgba(0, 46, 63, 0);
min-height: 200vh;
}
#divHead{
width: 100%;
max-width: 1920px;
background-color:rgb(0, 46, 63);
min-height: 6vh;
position: fixed;
color: rgb(255, 255, 255);
z-index: 999;
}
#head1{
display: flex;
justify-content:space-between;
margin-top: 10px;
color: rgb(255, 255, 255);
padding-bottom: 10px;
}
#head1 button{
border: 0cap;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
color: aliceblue;
margin-right: 37px;
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
}
#divBody{
margin: auto;
width: 100%;
max-width: 1400px;
padding-top: 37px;
margin-bottom: 80px;
}
#body1{
background-color: rgb(255, 255, 255);
border-radius: 50px;
min-height: 100vh;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
border-top: 30px solid rgba(192, 182, 0, 0);
background-image: url('../src/RD_logo.png');
background-size: 40%;
background-repeat: no-repeat;
background-position: center;
}
#divTabela{
width: 100%;
display: flex;
justify-content: space-around;
text-align: center;
color: rgb(46, 46, 46);
background-color: #ffffff;
min-height: 100vh;
padding-bottom: 70px;
flex-wrap: wrap;
margin-top: 20px;
}
#lblFecharTabela{
float: left;
cursor: pointer;
font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
margin-left: 20px;
}
#lblFecharTabela:hover{
color: rgb(126, 0, 131);
}
#divid{
margin: auto;
width: 100%;
max-width: 800px;
min-width: 600px;
background-color: #fefeff;
margin-bottom: 30px;
padding-bottom: 20px;
margin-top: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
#Tabela{
margin-bottom: 70px;
}
#divOrçar{
width: 100%;
max-width: 300px;
background-color: rgba(241, 250, 255, 0);
border: 1px solid rgb(1, 75, 85);
padding-bottom: 70px;
max-height: 130vh;
margin-top: 40px;
}
#h2Orçar{
background-color: rgb(1, 75, 85);
margin-bottom: 10px;
color: #eeeeee;
border: 2px solid rgb(0, 43, 28);
height: 5vh;
padding-top: 5px;
font-size: clamp(1.300rem, 1vw + 0.5rem, 1.300rem);
}
#OrçarImput label{
font-size: clamp(0.700rem, 1vw + 0.5rem, 0.700rem);
color: rgb(27, 27, 27);
}
#OrçarImput input{
width: 80%;
font-size: clamp(0.900rem, 1vw + 0.5rem, 0.900rem);
color: rgb(0, 10, 20);
cursor: pointer;
padding: 10px;
border: 1px solid rgba(0, 10, 10, 0.274);
background-color: rgb(255, 255, 255);
border-radius: 2px;
outline-color: #07df00;
}
#OrçarImput input:hover{
background-color: rgb(0, 255, 255);
border: 1px solid rgb(139, 0, 56);
color: rgb(160, 0, 0);
}
@media (max-width: 1000px) {
#divid{
margin: auto;
width: 100%;
max-width: 800px;
min-width: 480px;
background-color: #fefeff;
margin-bottom: 30px;
padding-bottom: 20px;
margin-top: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
}
@media (max-width: 870px) {
#divid{
margin: auto;
width: 100%;
max-width: 800px;
min-width: 600px;
background-color: #fefeff;
margin-bottom: 30px;
padding-bottom: 20px;
margin-top: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
#divOrçar{
width: 100%;
max-width: 350px;
}
}
@media (max-width: 600px) {
#divid{
margin: auto;
width: 100%;
max-width: 800px;
min-width: 470px;
background-color: #fefeff;
margin-bottom: 30px;
padding-bottom: 20px;
margin-top: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
}
@media (max-width: 500px) {
#divid{
margin: auto;
width: 100%;
max-width: 800px;
min-width: 400px;
background-color: #fefeff;
margin-bottom: 30px;
padding-bottom: 20px;
margin-top: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
}
#divid2{
display: flex;
justify-content: space-between;
align-items: center;
}
#botaoid{
margin-right: 10px;
cursor: pointer;
border: 0cap;
outline: none;
font-size: 40px;
background-color: #fefeff00;
}
#paragrafo{
float: left;
margin-left: 7px;
cursor: pointer;
border: 0cap;
outline: none;
font-size: clamp(0.600rem, 1vw + 0.5rem, 0.700rem);
}
#divid #botaoid:hover,#paragrafo:hover{
color: rgb(12, 102, 0);
}
#labelid{
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
font-weight: bold;
color: rgb(64, 0, 83);
}
#labelid2{
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
color: rgb(34, 34, 34);
}
#labelid3{
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
font-weight: bold;
color: rgb(34, 34, 34);
}
#labelid4{
font-size: clamp(0.800rem, 1vw + 0.5rem, 0.900rem);
color: rgb(2, 116, 59);
}
#labelid5{
margin: auto;
width: 100%;
font-size: clamp(0.700rem, 1vw + 0.5rem, 0.800rem);
}
#imgid{
width:50px;
margin-top: 20px;
float: left;
margin-left: 3px;
cursor: pointer;
}
#body1 h3{
max-width: 250px;
margin-left: 10px;
padding: 7px;
padding-left: 20px;
color: rgb(52, 52, 52);
background-color: rgb(236, 236, 236);
border-radius: 20px;
margin-top: 20px;
cursor: pointer;
}
#checkh3{
margin-left: 15px;
cursor: pointer;
}
#body1 h3:hover{
background-color :rgb(255, 255, 255);
}
#body1 h3:hover i{
color: red;
}
#menu_lateral {
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
top: 45px;
left: -105%;
width: 100%;
min-height: 100%;
background-color: #ffffff;
color: rgb(71, 71, 71);
transition: left 0.3s ease;
z-index: 99;
padding: 0px;
border-right: 1px solid rgb(0, 0, 0);
margin-top: 10px;
overflow: auto;
padding-top: 30px;
border-top: 30px solid rgb(76, 80, 80);
}
#menu_lateral ul {
list-style: none;
padding: 0;
max-height: 80vh;
padding-bottom: 50px;
overflow: auto;
padding-right: 30px;
}
#menu_lateral li {
margin: 20px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
font-size: 18px;
cursor: pointer;
margin-left: 10px;
}
#menu_lateral a:hover{
color: rgb(52, 0, 196);
}
.menu-ativo {
left: 0 !important;
}
#paragrafo3{
font-size: clamp(0.800rem, 1vw + 0.5rem, 0.900rem);
color: rgb(42, 0, 70);
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}
#divFaleCom{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
padding-bottom: 70px;
padding-top: 20px;
background-color: rgba(0, 0, 0, 0);
}
#btnFalecom{
width: 50%;
max-width: 300px;
min-width: 200px;
border: 0cap;
padding: 15px;
cursor: pointer;
background-color: rgb(8, 128, 0);
color: rgb(244, 235, 235);
border-radius: 30px;
box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
font-size: clamp( 1.100rem, 1vw + 0.5rem, 1.200rem);
font-weight: bold;
}
#ppt{
font-size: clamp( 0.700rem, 1vw + 0.5rem, 0.700rem);
margin-top: 15px;
font-weight: bold;
color: rgba(83, 0, 0, 0.829);
}
#btnFalecom_{
width: 50%;
max-width: 300px;
min-width: 200px;
border: 0cap;
padding: 15px;
cursor: pointer;
background-color: rgb(230, 235, 243);
color: rgb(29, 29, 29);
border-radius: 30px;
font-size: clamp( 0.900rem, 1vw + 0.5rem, 1rem);
font-weight: bold;
}
#btnFalecom:hover,#btnFalecom_:hover{
background-color: rgb(0, 228, 19);
color: rgb(32, 0, 0);
}
#pOrçamento{
text-align: center;
margin-top: 80px;
font-size: clamp(1rem, 1vw + 0.5rem, 1.100rem);
}
#homee{
min-width: 100px;
background-color: #eeeeee;
color: rgb(41, 40, 40);
border: 0cap;
cursor: pointer;
padding: 12px;
box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
border-radius: 10px;
}
#homee:hover{
background-color: rgb(255, 255, 255);
color: black;
}
#telaCheia{
cursor: pointer;
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
margin-top: 10px;
}
#telaCheia:hover{
color: aqua;
}
#h1btnServ{
margin: auto;
width: 84%;
margin-top: 10px;
margin-bottom: 20px;
border:0cap;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgb(229, 233, 255);
color: rgb(17, 1, 1);
text-align: center;
box-shadow: 0 3px 3px rgba(20, 20, 20, 0.562);
cursor: pointer;
font-size: clamp(1.100rem, 1vw + 0.5rem, 1.200rem);
}
#h1btnServ:hover{
background-color: rgb(255, 255, 255);
color: rgb(124, 0, 114);
box-shadow: 0 1px 1px rgba(7, 0, 0, 0.671);
border-radius: 5px;
}
#divFooter{
margin: auto;
width: 100%;
height: 89vh;
background-color: rgb(0, 0, 0);
border-top: 30px solid rgb(0, 46, 63);
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-size: max(150px, 15%);
background-repeat: no-repeat;
background-position: center;
}
#ffx{
font-size: clamp(1.700rem, 1vw + 0.5rem, 1.900rem);
margin-left: 20px;
}
#i_Click{
font-size: clamp(1rem, 1vw + 0.5rem, 1.100rem);
}
#i_Click, #paragrafo3{
cursor: pointer;
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
}
#paragrafo3:hover #i_Click{
cursor: pointer;
font-size: clamp(1.100rem, 1vw + 0.5rem, 1.200rem);
color: rgb(2, 104, 61);
}