

*{
margin: 0%;
padding: 0%;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgb(0, 19, 26);
color: aliceblue;
text-rendering: geometricPrecision;
}
#divGeral{
margin: auto;
width: 100%;
max-width: 1100px;
background-color: rgba(240, 248, 255, 0);
min-height: 200vh;
}
#divHead{
width: 100%;
max-width: 1100px;
background-color:rgb(0, 19, 26);
min-height: 5vh;
position: fixed;
color: rgb(255, 255, 255);
}
#head1{
display: flex;
justify-content:space-between;
margin-top: 20px;
color: rgb(255, 255, 255);
padding-bottom: 5px;
}
#head1 button{
border: 0cap;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
color: aliceblue;
margin-right: 37px;
}
#divBody{
width: 100%;
padding-top: 82px;
margin-bottom: 80px;
}
#body1{
background-color: rgb(255, 255, 255);
border-radius: 50px;
min-height: 100vh;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
padding: 20px;
border-top: 30px solid rgb(0, 204, 240);
background-image: url('../src/RD_logo.png');
background-size: 30%;
background-repeat: no-repeat;
background-position: center;
}
#divTabela{
width: 100%;
text-align: center;
color: rgb(46, 46, 46);
background-color: #fefeff;
min-height: 100vh;
display: none;

}
#lblFecharTabela{
float: left;
margin-left: 20px;
cursor: pointer;
font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
}
#lblFecharTabela:hover{
color: rgb(126, 0, 131);
}
#ListTabela #divid{
margin: auto;
width: 98%;
max-width: 700px;
background-color: #fefeff;
margin-bottom: 30px;
border-radius: 20px;
padding-bottom: 30px;
margin-top: 30px;
box-shadow: 0 7px 15px rgba(0, 0, 0, 0.514);
border-top: 20px solid rgb(0, 204, 240);
border-top-left-radius:40px ;
border-top-right-radius: 40px;
}
#botaoid{
float: right;
margin-right: 30px;
cursor: pointer;
border: 0cap;
outline: none;
font-size: clamp(1.800rem, 1vw + 0.5rem, 1.900rem);
background-color: #fefeff00;
}
#paragrafo{
float: right;
margin-right: 10px;
cursor: pointer;
border: 0cap;
outline: none;
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
text-decoration: overline;
text-decoration: underline;
padding-top: 5px;
}
#paragrafo2{
float: left;
margin-left: 20px;
cursor: pointer;
border: 0cap;
outline: none;
font-size: clamp(0.600rem, 1vw + 0.5rem, 0.700rem);
}

#divid #botaoid:hover,#paragrafo:hover{
color: rgb(12, 102, 0);
}

#labelid{
    font-size: clamp(1.200rem, 1vw + 0.5rem, 1.300rem);
    font-weight: bolder;
    color: rgb(64, 0, 83);
}
#labelid2{
    font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
    font-weight: bolder;
    color: rgb(34, 34, 34);
}
#labelid3{
    font-size: clamp(1.100rem, 1vw + 0.5rem, 1.200rem);
    font-weight: bolder;
    color: rgb(34, 34, 34);
}
#labelid4{
    font-size: clamp(1.100rem, 1vw + 0.5rem, 1.200rem);
    font-weight: bolder;
    color: rgb(2, 116, 59);
}
#labelid5{
margin: auto;
width: 70%;
font-size: clamp(0.800rem, 1vw + 0.5rem, 0.900rem);
}
#imgid{
    width: 30%;
    margin-top: 20px;
}



#body1 h3{
max-width: 250px;
margin-left: 10px;
padding: 7px;
padding-left: 20px;
color: rgb(52, 52, 52);
background-color: rgb(236, 236, 236);
border-radius: 20px;
margin-top: 20px;
cursor: pointer;
}
#checkh3{
    margin-left: 15px;
    cursor: pointer;
}
#body1 h3:hover{
 background-color :rgb(255, 255, 255);

}
#body1 h3:hover i{
    color: red;
}


#menu_lateral {
position: fixed;
top: 50px;
left: -105%;
width: 100%;
height: 100%;
max-width: 870px;
background-color: #ffffff;
color: rgb(71, 71, 71);
transition: left 0.3s ease;
z-index: 1000;
padding: 0px;
overflow-y: auto;
border-right: 1px solid rgb(0, 0, 0);
margin-top: 32px;
border-top-right-radius: 30px;
border-top: 30px solid rgb(0, 204, 240);
}
#menu_lateral ul {
list-style: none;
padding: 0;
margin-bottom: 120px;
}
#menu_lateral li {
margin: 20px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
font-size: 18px;
cursor: pointer;
margin-left: 10px;
}
#menu_lateral a:hover{
color: rgb(52, 0, 196);
}
.menu-ativo {
left: 0 !important;
}
#MenuIMG{
margin: auto;
width: 50%;
padding-top: 37px;
}


#divFooter{
width: 100%;
min-height: 100vh;
background-color: rgb(0, 0, 0);
border-top-left-radius: 40px;
border-top-right-radius: 40px;
margin-top: 30px;
border-top: 20px solid rgb(0, 204, 240);
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-repeat: no-repeat;
background-position: center;
}




@media (min-width: 870px) {
#menu_lateral {
position: fixed;
top: 50px;
left: -100%;
width: 100%;
height: 100%;
max-width: 400px;
transition: left 0.3s ease;
z-index: 1000;
padding: 0px;
overflow-y: auto;
}
}
@media (max-width: 870px) {
#MenuIMG{
margin: auto;
width: 43%;
padding-top: 37px;
}
}