*{
margin: 0%;
padding: 0%;
}
body{
margin: auto;
font-family: 'Poppins', sans-serif;
background-color:  rgb(0, 29, 41);
color: aliceblue;
text-rendering: geometricPrecision;
}
#divGeral{
margin: auto;
width: 100%;
max-width: 19200px;
min-height: 100vh;
background-color: rgb(0, 0, 0);
}
#divRead{
margin:0 auto;
width: 100%;
background-color:   rgb(0, 46, 65);
position: fixed;
z-index: 9999;
color: aliceblue;
}
#read1{
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
#read1 button{
border: 0cap;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
margin-right: 10px;
font-size: clamp(0.800rem, 1vw + 0.5rem, 1rem);
outline: none;
color: rgb(255, 255, 255);
}
#logoName {
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
margin-bottom: 3px;
color: rgb(255, 255, 255);
}
#logoName img{
max-width: 37px ;
margin-left: 10px;
margin-right: 10px;
padding: 5px;
cursor: pointer;
}
#logoName img:hover{
padding: 5px;
background-color: #3dff087b;
border-radius: 50%;
}
#r_d{
color: rgb(255, 255, 255);
font-weight: bolder;
font-size: clamp(1.300rem, 1vw + 0.5rem, 1.800rem);
}
#logoName h1{
font-size: clamp(1.200rem, 1vw + 0.5rem, 1.300rem);
}
#read2{
display: none;
}
#divPesquisa{
width: 100%;
padding-top: 10px;
padding-bottom: 20px;
color: rgb(255, 255, 255);
}
#pesquisa{
color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(165, 42, 42, 0);
}
#PSQ{
border: 2px solid rgb(255, 255, 255);
padding: 7px;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.856);
}
#PSQ i {
color:rgb(156, 156, 156) ;
outline: none;
margin-right: 5px;
}
#pesquisa {
margin-right: 10px;
border-left: 3px solid rgb(146, 146, 146);
height: 20px;
padding-left: 10px;
margin-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 20px;
color: #ffffff;
cursor: pointer;
}
#pesquisa {
color: rgb(27, 209, 3);
border-left: 3px solid rgb(27, 209, 3);
}
#btnsetFechar{
color: #000000;
border: 0cap;
background-color: #00000000;
float: left;
margin-left: 20px;
margin-top: 20px;
font-size: clamp(1rem, 1vw + 0.5rem, 1.300rem);
cursor: pointer;
}
#btnsetFechar:hover{
    color: #850028;
}
#PSQ input{
min-width: 250px;
background-color: rgba(37, 37, 37, 0);
outline: none;
border: 0cap;
cursor: pointer;
font-size: clamp(0.980rem, 1vw + 0.5rem, 1rem);
color: #ffffff;
padding-top: 5px;
padding-bottom: 5px;
}
#btnSetPesq{
cursor: pointer;
font-size: clamp(1.300rem, 1vw + 0.5rem, 1.300rem);
font-weight: bolder;
outline: none;
}
#div_admim{
width: 100%;
min-height: 100vh;
background-color: aliceblue;
}
#IMenu{
font-size: clamp(1.300rem, 1vw + 0.5rem, 1.300rem);
font-weight: bolder;
outline: none;
}
#read1 button:hover{
color: rgb(0, 255, 242);
}
#divBody{
 margin: auto;
width: 95%;
max-width: 1600px;
overflow: auto;
min-height: 100vh;
background-color: rgba(214, 9, 152, 0);
padding-top: 100px;
}
@media (max-width: 1100px) {
    #divBody{
width: 100%;
 }
}
#divLogoBody{
width: 100%;
text-align: center;
}
#divLogoBody img{
width: 61%;
max-width: 600px; 
margin-bottom: 30px;
background-color: rgba(255, 255, 255, 0);
border-radius: 20px;
}
#DSimg{
width: 100%;
min-height: 25vh;
max-height: 55vh;
border-top: 20px solid rgb(247, 181, 0);
overflow: hidden;
}
#menu_lateral {
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
top: 50px;
left: -105%;
width: 100%;
min-height: 100vh;
background-color: #ffffff;
color: rgb(71, 71, 71);
transition: left 0.3s ease;
z-index: 1000;
padding: 0px;
margin-top: 5px;
border-top-right-radius: 30px;
border-right: 5px solid rgb(0, 0, 0);
overflow: auto;
padding-top: 15px;
padding-bottom: 50px;
}
#menu_lateral ul {
list-style: none;
padding: 0;
max-height: 88vh;
padding-bottom: 50px;
overflow: auto;
padding-right: 30px;
}
#menu_lateral li {
margin: 20px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
font-size: 18px;
cursor: pointer;
margin-left: 10px;
}
#menu_lateral a:hover{
color: rgb(52, 0, 196);
}
.menu-ativo {
left: 0 !important;
}

#bodyB1,#bodyB2,#bodyB3,#bodyB4{
margin: auto;
background-color: rgb(0, 0, 0);
margin-bottom: 70px;
}
#bodyB0{
width: 100%;
text-align: center;
margin-bottom: 60px;
margin-top: 40px;
}
#DSimg_{
width: 80%;
max-width: 600px;
}
#bodyB0{
width: 100%;
background-color: rgb(0, 0, 0);
}
#bodyB0 h2{
color: rgb(0, 167, 0);
font-size: clamp(1.300rem, 1vw + 0.5rem, 1.800rem);
margin-top: 10px;
}
#bodyB1 label,#bodyB2 label,#bodyB3 label,#bodyB4 label,#bodyB5 label{
font-size: clamp(1.300rem, 1vw + 0.5rem, 1.800rem);
color: rgb(255, 255, 255);
}
#Info{
margin-left: 3%;
margin-bottom: 100px;
margin-top: 40px;
margin-right: 10px;
}
#Info h3{
margin-bottom: 10px;
}
#divStartServ{
width: 100%;
text-align: center;
margin-top:80px;
}
#divStartServ button{
min-width: 300px;
padding: 15px;
background-color: rgba(18, 109, 0, 0.575);
color: #ffffff;
border: 2px solid rgb(202, 172, 0);
border-radius: 10px;
margin-right: 20px;
font-size: clamp(1.200rem, 1vw + 0.5rem, 1.300rem);
cursor: pointer;
box-shadow: 0 2px 5px rgba(53, 129, 82, 0.514);
}
#divStartServ button:hover{
background-color: rgb(26, 155, 0);
color: rgb(255, 255, 255);
border: 2px solid rgb(251, 255, 0);
}
#iPint{
color: rgb(255, 217, 2);
}
#iPint_{
color: rgb(224, 165, 0);
}
#divFooter{
width: 100%;
min-height: 100vh;
background-color: rgb(0, 49, 53);
padding-top: 70px;
padding-bottom: 100px;
}
#footer1{
text-align: center;
margin: auto;
width: 50%;
max-width: 250px;
background-color: #ffffff00;
padding: 20px;
border-radius: 30px;
}
#footer1 img{
width: 98%;
}
#footer2{
margin:auto;
width: 95%;
margin-top: 40px;
padding-bottom: 40px;
}
#divFaleCom{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
padding-bottom: 70px;
padding-top: 50px;
background-color: rgba(0, 0, 0, 0);
}
#btnFalecom{
min-width: 170px;
border: 0cap;
padding: 15px;
cursor: pointer;
background-color: rgb(11, 165, 0);
color: rgb(244, 235, 235);
border-radius: 30px;
box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
}
#btnFalecom:hover{
background-color: rgb(1, 194, 17);
color: aliceblue;
}
#zap{
font-size: clamp(1.100rem, 1vw + 0.5rem, 1.200rem);
}
#homee{
min-width: 100px;
background-color: #eeeeee;
color: rgb(41, 40, 40);
border: 0cap;
cursor: pointer;
padding: 12px;
box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
border-radius: 10px;
}
#homee:hover{
background-color: rgb(255, 255, 255);
color: black;
}
.estrelas input {
display: none;
margin: 0%;
}
.estrelas label {
color: #ccc;
cursor: pointer;
font-size: 4rem;
margin: 0%;
}
#lblNotaAV{
font-size: 3rem;
}
.estrelas input:checked ~ label {
color: rgb(224, 240, 0);
}
#avaliação{
margin: auto;
width: 100%;
min-height: 40vh;
background-color: aliceblue;
margin-top: 60px;
padding-top: 50px;
margin-bottom: 25px;
padding-bottom: 30px;
}
#Stars{
margin: auto;
width: 80%;
max-width: 1000px;
min-width: 390px;
text-align: center;
}
#Stars h2{
color: #818181;
font-size: clamp(1.700rem, 1vw + 0.5rem, 2rem);
}
#user-info p{
color: rgb(90, 90, 90);
font-size: clamp(0.900rem, 1vw + 0.5rem, 1.100rem);
}
#user-info {
padding-bottom: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#user-info img{
max-width: 200px;
max-height: 200px;
min-width: 100px;
min-height: 100px;
border-radius: 50%;
}
#btnGoogle{
border: 0cap;
background-color: #ffffff00;
cursor: pointer;
font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
display: none;
}
#user-info  button:hover{
font-size: clamp(1.100rem, 1vw + 0.5rem, 1.100rem);
}
#i_google{
font-size: clamp(1.600rem, 1vw + 0.5rem, 1.800rem);
color: #860070;
}
#user-photo,#user-name,#user-email, #infoComent,#verlistInfo{
display: none;
}
#infoComent{
cursor: pointer;
}
#infoComent:hover{
color: #7c00cf;
}
#div_listInfo{
margin: auto;
width: 99%;
margin-top: 50px;
margin-bottom: 30px;
padding-bottom: 30px;
display: none;
}
#listInfo{
float: left;
min-width: 370px;
margin-top: 30px;
cursor: pointer;
}
#listInfo div{
margin-top: 10px;
}
#lblInfo{
float: left;
}
#lblInfo2{
font-size: clamp(0.700rem, 1vw + 0.5rem, 0.900rem);
}
#listInfo label{
color: rgb(82, 81, 81);
cursor: pointer;
}
#listInfo img{
max-width: 50px;
max-height: 50px;
min-width: 30px;
min-height: 30px;
border-radius: 50%;
}
#divInfo{
display: flex;
align-items: center;
cursor: pointer;
}
#divInfo2{
margin-right: 10px;
cursor: pointer;
}
.my-custom_infoMSM{
max-width: 390px;
color: aliceblue;
border-radius: 25px;
}
.my-custom_infoMSM p{
color: #dadada;
}
#inputInfo{
width: 91%;
height: 10vh;
padding: 10px;
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
border: 0cap;
outline: none;
border-radius: 5px;
margin-top: 7px;
margin-bottom: 10px;
font-family: 'Poppins', sans-serif;
}
#lblBtn1{
cursor: pointer;
margin-right: 100px;
padding: 4px;
border-radius: 7px;
color: #f9fcff;
}
#lblBtn1:hover{
color: #07b801;
}
#lblBtn2{
color: #afafafd8;
}
#lblBtn2:hover{
color: #02b948;
cursor: pointer;
}
#lblInfo2{
float: left;
}
#lblInfo3{
cursor: pointer;
font-size: clamp(0.700rem, 1vw + 0.5rem, 0.900rem);
float: left;
}
#lblInfo3:hover,#user-mensagem:hover{
color: #7c00cf;
cursor: pointer;
}
#verlistInfo{
float: left;
cursor: pointer;
color: rgb(255, 255, 255);
padding: 8px;
padding-left: 10px;
padding-right: 10px;
box-shadow: 0 7px 15px rgba(0, 0, 0, 0.514);
border-radius: 10px;
background-color: #eff5ff;
background-color: #006139;
font-size: clamp(0.800rem, 1vw + 0.5rem, 0.900rem);
}
#verlistInfo:hover{
background-color: #00aa2b;
color: aliceblue;
}
#spanInfo{
font-size: clamp(1rem, 1vw + 0.5rem, 1.100rem);
margin-left: 5px;
}
#spanInfoNumero{
font-weight: bolder;
margin-left: 5px;
}
#avisoinfo{
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
color: #414141;
}
#brTemp, #body03{
display: none;
}
#titeleh5{
    color: #afce00;
}
#btnCad{
    color: #000000;
}
.my-custom_CadExCód{
max-width: 390px;
border-radius: 15px;
box-shadow: 0 7px 15px rgba(0, 0, 0, 0.603);
margin-top: 100px;
margin-top: 100px;
border: 5px solid rgb(189, 189, 189);
}
#dddv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.my-custom_CadExCód input{
width: 80%;
padding: 12px;
border: 1px solid #e0e0e0;
border-radius: 5px;
cursor: pointer;
outline: none;  
background-color: #000811c0;
color: aliceblue;
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
}
#iPasWord:hover{
cursor: pointer;
color: aqua;
}
.my-custom_CadExCód input:hover{
background-color: #00163a;
border: 0px solid #00220d;
color: rgb(52, 165, 0);
}
.my-custom_CadExCód button{
width: 40%;
padding: 10px;
border: 1px solid rgba(240, 248, 255, 0.658);
background-color: #050303;
color: rgb(255, 255, 255);
border-radius: 5px;
cursor: pointer;
}
.my-custom_CadExCód button:hover{
background-color: #f0efff;
color: #ffffff;
background-color: #006d05;
border: 1px solid rgb(240, 248, 255);
}
.my-custom_CadExCód .cancelar{
    width: 20%;
    padding: 7px;
}
.my-custom_CadExCód .cancelar:hover{
background-color: rgb(143, 0, 0);
color: #ffffff;
}
#div_loja{
float: right;
margin-right: 5%;
}
#iconeLoja{
position: fixed;
width: 4%;
min-width: 64px;
cursor: pointer;
float: right;
margin-right: 30px;
top: 85%;
}
#iconeLoja:hover{
background-color: red;
border-radius: 10px;
}
@media (max-width: 1400px) {
#div_loja{
float: right;
margin-right: 7%;
}
}
@media (max-width: 1100px) {
#div_loja{
float: right;
margin-right: 10%;
}
}
@media (max-width: 900px) {
#div_loja{
float: right;
margin-right: 12%;
}
}
@media (max-width: 900px) {
#div_loja{
float: right;
margin-right: 12%;
}
}@media (max-width: 700px) {
#div_loja{
float: right;
margin-right: 14%;
}
}
@media (max-width: 500px) {
#div_loja{
float: right;
margin-right: 16%;
}
}
@media (max-width: 400px) {
#div_loja{
float: right;
margin-right: 17%;
}
}

#aa_inicio{
display: none;
}
#red{
color: rgb(94, 2, 53);
}
#telaCheia{
cursor: pointer;
font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
}
#telaCheia:hover{
color: aqua;
}