*{
margin: 0%;
padding: 0%;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgb(255, 253, 253);
color: aliceblue;
text-rendering: geometricPrecision;
}
#divGeral{
margin: auto;
width: 100%;
max-width: 1920px;
min-height: 100vh;
background-color: rgb(0, 0, 0);
}
#divRead{
margin: auto;
width: 100%;
max-width: 1920px;
background-color:  rgb(10, 122, 0);
position: fixed;
z-index: 9999;
color: aliceblue;
}
#read1{
display: flex;
justify-content: space-between;
align-items: center;

}
#read1 button{
border: 0cap;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
margin-right: 10px;
font-size: clamp(0.800rem, 1vw + 0.5rem, 1rem);
outline: none;
color: rgb(255, 255, 255);
}
#logoName {
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
margin-bottom: 3px;
color: rgb(255, 255, 255);

}
#logoName img{
max-width: 37px ;
margin-left: 10px;
margin-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
}
#r_d{
color: rgb(255, 255, 255);
font-weight: bolder;
font-size: clamp(1.300rem, 1vw + 0.5rem, 1.800rem);

}
#logoName h1{
font-size: clamp(1rem, 1vw + 0.5rem, 1.300rem);
}
#read2{
    display: none;
}
#divPesquisa{
width: 100%;
padding-top: 10px;
padding-bottom: 20px;
color: rgb(255, 255, 255);
}
#pesquisa{
color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(165, 42, 42, 0);
}
#PSQ{
border: 2px solid rgb(255, 255, 255);
padding: 7px;
border-radius: 20px;
background-color: rgba(0, 0, 0, 0.856);
}
#PSQ i {
    color:rgb(156, 156, 156) ;
    outline: none;
    margin-right: 5px;
}
#pesquisa #startPesq{
    margin-right: 10px;
    border-left: 3px solid rgb(146, 146, 146);
    height: 20px;
    padding-left: 10px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
   
}
#pesquisa #startPesq:hover{
    color: rgb(27, 209, 3);
    border-left: 3px solid rgb(27, 209, 3);
    
}

#PSQ input{
min-width: 250px;
background-color: rgba(37, 37, 37, 0);
outline: none;
border: 0cap;
cursor: pointer;
font-size: clamp(0.980rem, 1vw + 0.5rem, 1rem);
color: #ffffff;
padding-top: 5px;
padding-bottom: 5px;
}
#btnSetPesq{
    cursor: pointer;
     font-size: clamp(1.300rem, 1vw + 0.5rem, 1.300rem);
    font-weight: bolder;
    outline: none;
}
#atalhoPesq{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
}


#IMenu{
    font-size: clamp(1.300rem, 1vw + 0.5rem, 1.300rem);
    font-weight: bolder;
    outline: none;

}
#read1 button:hover{
    color: rgb(0, 255, 242);
}



#divBody{
width: 100%;
overflow: auto;
min-height: 100vh;
background-color: rgba(214, 9, 152, 0);
padding-top: 100px;
}
#divLogoBody{
    width: 100%;
    text-align: center;
}
#divLogoBody img{
    width: 61%;
    max-width: 600px; 
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
}
#DSimg{
width: 100%;
min-height: 25vh;
max-height: 55vh;
border-top: 20px solid rgb(255, 255, 0);
overflow: hidden;
}
#menu_lateral {
  position: fixed;
  top: 50px;
  left: -105%;
  width: 100%;
  height: 100%;
  max-width: 870px;
  background-color: #ffffff;
  color: rgb(71, 71, 71);
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 0px;
  overflow-y: auto;
  border-right: 5px solid rgb(0, 0, 0);
 
}
#menu_lateral ul {
  list-style: none;
  padding: 0;
  margin-bottom: 120px;
}
#menu_lateral li {
  margin: 20px 0;
  
}
#menu_lateral a {
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}
#menu_lateral a:hover{
  color: rgb(52, 0, 196);
}

.menu-ativo {
  left: 0 !important;
}
#MenuIMG{
    margin: auto;
    width: 50%;
    padding-top: 20px;
}

#bodyB1,#bodyB2,#bodyB3,#bodyB4{
    margin: auto;
    background-color: rgb(0, 0, 0);
    margin-bottom: 70px;
  
}
#bodyB0{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
}
#DSimg_{
    width: 80%;
    max-width: 600px;
}

#bodyB0{
    width: 100%;
    background-color: rgb(0, 0, 0);
    
    
}
#bodyB0 h2{
 color: rgb(0, 167, 0);
 font-size: clamp(1.300rem, 1vw + 0.5rem, 1.800rem);
 margin-top: 10px;
}
#bodyB1 label,#bodyB2 label,#bodyB3 label,#bodyB4 label,#bodyB5 label{
    font-size: clamp(1.300rem, 1vw + 0.5rem, 1.800rem);
    color: rgb(255, 255, 255);
    
}
#Info{
    margin-left: 3%;
    margin-bottom: 100px;
    margin-top: 40px;

}
#Info h3{
    margin-bottom: 10px;
}
#divStartServ{
    width: 100%;
    text-align: center;
    margin-top:80px;
   
}
#divStartServ button{
    min-width: 300px;
    padding: 15px;
    background-color: rgb(18, 109, 0);
    color: #ffffff;
    border: 0cap;
    border-radius: 10px;
    margin-right: 20px;
    font-size: clamp(1.200rem, 1vw + 0.5rem, 1.300rem);
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(53, 129, 82, 0.514);

}
#divStartServ button:hover{
    background-color: rgb(0, 173, 9);
    color: rgb(255, 255, 255);
}


#iPint{
    color: rgb(250, 233, 0);
}
#iPint_{
    color: rgb(224, 165, 0);
}

#divFooter{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 49, 53);
    padding-top: 70px;
    padding-bottom: 100px;
}
#footer1{
    text-align: center;
    margin: auto;
    width: 50%;
    max-width: 250px;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 30px;

}
#footer1 img{
    width: 98%;
}
#footer2{
    margin:auto;
    width: 95%;
    margin-top: 40px;
    padding-bottom: 40px;
   
    
}
#divFaleCom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 50px;
}
#btnFalecom{
   min-width: 170px;
    border: 0cap;
    padding: 15px;
    cursor: pointer;
    background-color: rgb(0, 124, 17);
    color: rgb(236, 197, 197);
    border-radius: 30px;
     box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
    font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
   
}
#btnFalecom:hover{
    background-color: rgb(0, 167, 14);
    color: aliceblue;
}
#zap{
     font-size: clamp(1.100rem, 1vw + 0.5rem, 1.200rem);
}
#homee{
    min-width: 100px;
    background-color: #c4c4c4;
    color: rgb(41, 40, 40);
    border: 0cap;
    cursor: pointer;
    padding: 12px;
     box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
    font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem);
    border-radius: 10px;
}
#homee:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}



@media (min-width: 870px) {
    #menu_lateral {
  position: fixed;
  top: 50px;
  left: -100%;
  width: 100%;
  height: 100%;
  max-width: 400px;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 0px;
  overflow-y: auto;
}
}
@media (max-width: 870px) {
#MenuIMG{
    margin: auto;
    width: 43%;
    padding-top: 10px;
}
}

#aa_inicio{
    display: none;
}
#red{
color: rgb(94, 2, 53);
}