
*{
margin: 0;
padding: 0;
}
body{
    margin: auto;
font-family: 'Poppins', sans-serif;
background-color: rgb(255, 255, 255);
color: rgb(70, 71, 71);
text-rendering: geometricPrecision;
}
.my-custom_alert h2{
 color: rgb(72, 255, 0);
  font-size: clamp( 1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
.popup-class{
    max-width: 350px;
    border-radius: 20px;
    border:  3px solid antiquewhite;
    font-size: clamp( 0.800rem, 0.3vw  + 0.5rem, 0.900rem);
}
.popup-class text{
    font-size: clamp( 0.800rem, 0.3vw  + 0.5rem, 0.900rem);
}
.popup-class h2{
    font-size: clamp( 1rem, 0.3vw  + 0.5rem, 1.100rem);
}
#divGeral{
  display: none;
  margin: auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  color: black;
}

#divInit{
width: 100%;
height: 100vh;
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-size: max(150px, 15%);
background-repeat: no-repeat;
background-position: center;
background-color: rgb(0, 25, 26);
}
#divHeader{
margin: auto;
width: 100%;
max-width: 1920px;
background-color: rgb(0, 52, 68);
color: aliceblue;
padding-bottom: 10px;

}
#head1{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
}
#head2{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 10px;
margin-right: 10px;
}
#divBody{
margin: auto;
width: 100%;
max-width: 1920px;
}
#BB{
color: rgb(255, 217, 0);
font-weight: bold;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem)
}
#BB2{
color: rgb(26, 25, 25);
font-weight: bold;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem)
}
#body1{
margin: auto;
width: 97%;
max-width: 1200px;
display: flex;
background-color: rgba(0, 255, 255, 0);
justify-content: space-between;
flex-wrap: wrap;
padding: 5px;
margin-top: 20px;
}
#body1 h3{
color: rgb(255, 255, 255);
background-color: rgb(196, 143, 0);
padding: 5px;
margin-bottom: 10px;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#dadosCliente{
width: 100%;
max-width: 500px;
padding: 10px;
margin-bottom: 30px;
}
#divColab{
margin-top: 10px;
margin-left: 10px;
}
#i_Tel{
margin-left: 20px;
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
cursor: pointer;
font-weight: bold;

}
#i_Tel:hover{
color: rgb(0, 94, 8);
font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.700rem);
}
#body2{
margin: auto;
width: 97%;
max-width: 1200px;
margin-top: 30px;
margin-bottom: 50px;
}
#h3Servi{
color: rgb(255, 255, 255);
background-color: rgb(0, 52, 68);
padding: 5px;
margin-bottom: 5px;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#BBb{
color:rgb(255, 187, 0) ;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#footer1{
color: rgb(255, 255, 255);
background-color:rgba(255, 255, 255, 0);
width: 100%;
min-height: 20vh;
bottom: 3px;
}
.my-custom{
border-radius: 20px;
max-width: 400px;
}
.my-custom img{
width: 150px;
height: 150px;
border-radius: 50%;
}
.my-custom h2{
color:rgb(255, 187, 0) ;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#VerPret{
cursor: pointer;
color: rgb(0, 67, 99);
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bolder;
}
#VerPret:hover {
color:rgb(228, 167, 0) ;
}
#VerPret:hover #I_prest{
color:rgb(0, 116, 25) ;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#div_list{
margin: auto;
width: 99%;
min-height: 35vh;
border:3px solid rgba(0, 88, 22, 0) ;
}
#header_list{
margin: auto;
background-color:rgb(0, 88, 22) ;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
height: 5vh;
}
#header_list button{
border: 0cap;
background-color: rgba(0, 0, 0, 0);
cursor: pointer;
color: aliceblue;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bold;
}
#header_list button:hover{
color: rgb(255, 217, 0);
}
@media (max-width: 1380px) {
#divBody{
margin: auto;
width: 80%;
max-width: 1920px;
min-height: 100vh;
color: black;
}
}
@media (max-width: 1170px) {
#divBody{
margin: auto;
width: 100%;
max-width: 1920px;
min-height: 100vh;
color: black;
}
}
#myProgress {
width: 90%;
background-color:rgb(134, 130, 130);
display: none;
border-radius: 7px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
}
#myBar {
width: 2%;
/* Começa com 1% */
height: 20px;
background-color:rgba(0, 219, 18, 0.993);
text-align: center;
/* Centraliza horizontalmente */
line-height: 20px;
/* Centraliza verticalmente */
color: rgb(78, 0, 0);
border-radius: 20px;
font-weight: bold;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}   
.my-customTime{
margin: auto;
width: 90%;
max-width: 400px;
padding-top: 20px;
padding-bottom: 20px;
}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
animation: girar 10s linear infinite; /* já inicia girando */
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
}
@keyframes girar { from {
transform: rotate(0deg); 
} 
to {
transform: rotate(360deg); 
} 
}
.my-customTime #divInitTime{
width: 100%;
min-height: 15vh;
}
#divOrçar{
margin: auto;
width: 100%;
min-height: 30vh;
background-color: rgba(11, 156, 156, 0);
display: none;
}

#divFinalizar button{
cursor: pointer;
border: 0cap;
background-color: antiquewhite;
width: 40%;
color: black;


}
#inputTarefa{
margin: auto;
width:80%;
max-width: 600px;
min-width: 210px;
border: 0cap;
background-color: rgb(237, 237, 255);
padding:7px;
outline-color: rgb(128, 0, 0);
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
cursor: pointer;
margin-right: 10px;
margin-left: 10px;
outline: none;
color: rgb(0, 0, 0);
border-radius: 7px;
}
#valorTarefa{
max-width: 200px;
padding: 7px;
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
float: left;
border: 0cap;
text-align: center;
background-color: rgb(245, 243, 255);
outline: none;
color: rgb(0, 0, 0);
margin-top: 7px;
font-family: fantasy;
border-radius: 7px;
margin-bottom: 10px;
}
#orçarFlex #addMais{
background-color: rgb(242, 254, 255);
color: rgb(255, 255, 255);
font-weight: bold;
padding: 7px;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
cursor: pointer;
border: 1px solid rgb(105, 105, 105);
margin-left: 30px;
color: rgb(0, 0, 0);
}
#orçarFlex #addMais:hover{
background-color: rgb(0, 227, 235);
color: rgb(131, 0, 0);
}
#divOrçarHeader {
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
background-color:  rgb(0, 88, 22) ;
color: aliceblue;
text-align: center;
border-bottom: 5px solid rgb(248, 247, 247);
border-top: 5px solid  rgb(165, 165, 165);
padding-bottom: 10px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;

}
#orçarFlex{
margin: auto;
width: 99%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 7px;
}
#divOrçarHeader P{
    font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.900rem);
    color: rgb(231, 229, 229);
    margin-bottom: 5px;
}
#divOrçarHeader button{
margin-left: 10px;
margin-right: 10px;
border: 0cap;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
color: aliceblue;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
}
#divOrçarHeader button:hover{
color: rgb(224, 191, 0);
}
#inputPassw{
width: 60%;
padding: 6px;
border: 0cap;
background-color: rgb(240, 243, 255);
outline: none;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#inputPassw:hover{
background-color: rgb(0, 247, 255);
outline: none;
}
#enterPassw{
width: 30%;
padding: 8px;
padding-left: 10px;
padding-right: 10px;
border-radius: 1px;
cursor: pointer;
}
#enterPassw:hover{
padding-left: 10px;
padding-right: 10px;
background-color: aqua;
color: red;
}
#ppo #verpassw{
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
}
#ppo:hover #verpassw:hover{
color: rgb(0, 235, 20);
}
#myFlex{
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
}
.my-customAddServ_{
width: 100%;
max-width: 430px;
border-radius: 10px;
margin-bottom: 170px;
}
.my-customAddServ_ h2{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#valorTotal{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#h2ValorTotal_{
display: none;
}
.my-custom_compartilhar{
    width: 90%;
    max-width: 300px;
    border-radius: 40px;
    border: 5px solid rgb(240, 243, 255);
}
.my-custom_compartilhar h2{
    font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
      outline: none;
}
.my-custom_compartilhar button{
    width: 80px;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.my-custom_compartilhar #whats{
    width: 90%;
 font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
 padding: 7px;
 padding-left: 30px;
 padding-right: 30px;
 border-radius: 10px;
  cursor: pointer;
  border: 0cap;
  box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
  outline: none;
  background-color: rgb(240, 243, 255);
}
.my-custom_compartilhar #whats:hover{
 background-color: rgb(0, 143, 12);
 color: azure;
}
.my-custom_compartilhar button:hover{
    background-color: rgb(184, 0, 0);
    color: aliceblue;
}
#listaserv{
    margin: auto;
    width: 98%;
    max-width: 900px;
    min-height: 40vh;
    overflow: auto;
}
#listadiv{
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(190, 190, 190);
    gap: 5px;
    margin-bottom: 10px;
      outline: none;
}
#div2_L{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#labelV{
   font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
   font-weight: bold;
   color: rgb(70, 54, 173);

}
#label_v2{
       font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
       font-weight: bold;
}
#btnV{
    float: right;
    border: 0cap;
    background-color: rgba(168, 2, 38, 0.479);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
   font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
   cursor: pointer;
}
#btnV:hover{
    background-color: red;
     color: rgb(255, 255, 255);
}
#imgFinalize{
    margin: auto;
    margin-top: 70px;
    width: 50%;
    min-width: 300px;
    display: none;
}
#contrato h2{
    text-align: center;
    font-weight: bolder;
    margin-top: 15px;
}
#contrato{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
#divFinalizar{
    margin: auto;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    min-height: 40vh;
    margin-top: 100px;
    display: none;
    text-align: center;
}
#divFinalizar h3{
    text-align: center;
    margin-bottom: 20px;
}
#FinalInput{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}
#aPDF,#aPDF{
    text-align: center;
    cursor: pointer;
}
#PDF_Final{
    display: none;
    margin: auto;
}
#divFinalizar button{
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
    cursor: pointer;
}
#divFinalizar button:hover{
    background-color: rgb(0, 156, 34);
    color: rgb(255, 255, 255);
}
#finalitDiv{
    margin: auto;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    border: 3px solid rgb(121, 121, 121);
    display: none;
    margin-top: 120px;
}
#btnMenu{
    display: none;
}