
*{
margin: 0;
padding: 0;
}
body{
    margin: auto;
font-family: 'Poppins', sans-serif;
background-color: rgb(255, 255, 255);
color: rgb(70, 71, 71);
text-rendering: geometricPrecision;
}
.my-custom_alert h2{
 color: rgb(72, 255, 0);
  font-size: clamp( 1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
.popup-class{
    max-width: 350px;
    border-radius: 20px;
    border:  3px solid antiquewhite;
    font-size: clamp( 0.800rem, 0.3vw  + 0.5rem, 0.900rem);
}
.popup-class text{
    font-size: clamp( 0.800rem, 0.3vw  + 0.5rem, 0.900rem);
}
.popup-class h2{
    font-size: clamp( 1rem, 0.3vw  + 0.5rem, 1.100rem);
}
#divGeral{
  display: none;
  margin: auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  color: black;
}

#divInit{
width: 100%;
height: 100vh;
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-size: max(150px, 15%);
background-repeat: no-repeat;
background-position: center;
background-color: rgb(0, 25, 26);
}
#divHeader{
    margin: auto;
    width: 100%;
    max-width: 1920px;
    background-color: rgb(0, 52, 68);
    color: aliceblue;
    padding-bottom: 10px;
}
#head1{
      display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#head2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
#divBody{
    margin: auto;
    width: 100%;
    max-width: 1920px;
}
#BB{
    color: rgb(255, 217, 0);
    font-weight: bold;
    font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem)
}
#BB2{
    color: rgb(26, 25, 25);
    font-weight: bold;
    font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem)
}
#body1{
    margin: auto;
    width: 97%;
    max-width: 1200px;
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 20px;
    
}
#body1 h3{
    color: rgb(255, 255, 255);
    background-color: rgb(196, 143, 0);
    padding: 5px;
    margin-bottom: 10px;
       font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#dadosCliente{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 30px;
}
#divColab{
    margin-top: 10px;
    margin-left: 10px;
}
#i_Tel{
    margin-left: 20px;
    font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
    cursor: pointer;
    font-weight: bold;
    
}
#i_Tel:hover{
    color: rgb(0, 94, 8);
     font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.700rem);
}
#body2{
    margin: auto;
    width: 97%;
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 50px;
}
 #h3Servi{
      color: rgb(255, 255, 255);
    background-color: rgb(0, 52, 68);
    padding: 5px;
    margin-bottom: 5px;
    font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#BBb{
    color:rgb(255, 187, 0) ;
      font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#footerh1{
    color: black;
    background-color: brown;
    width: 100%;
    min-height: 70vh;
    bottom: 3px;
}
.my-custom{
    border-radius: 20px;
    max-width: 400px;
}
.my-custom img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.my-custom h2{
     color:rgb(255, 187, 0) ;
      font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#VerPret{
    cursor: pointer;
    color: rgb(0, 67, 99);
    font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
    font-weight: bolder;
}
#VerPret:hover {
      color:rgb(228, 167, 0) ;
}
#VerPret:hover #I_prest{
color:rgb(0, 116, 25) ;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#div_list{
    width: 100%;
    min-height: 70vh;
}
#header_list{
    margin: auto;
    background-color:rgb(1, 114, 99) ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;

}

#header_list button{
  border: 0cap;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: aliceblue;
  font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
  font-weight: bold;
}
@media (max-width: 1380px) {
#divBody{
 
  margin: auto;
  width: 80%;
  max-width: 1920px;
  min-height: 100vh;
  color: black;
}
}
@media (max-width: 1170px) {
#divBody{
  margin: auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  color: black;
}
}