
*{
margin: 0;
padding: 0;
}
body{
    margin: auto;
font-family: 'Poppins', sans-serif;
background-color: rgb(255, 255, 255);
color: rgb(70, 71, 71);
text-rendering: geometricPrecision;
}
.my-custom_alert h2{
 color: rgb(72, 255, 0);
  font-size: clamp( 1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
.popup-class{
    max-width: 350px;
    border-radius: 20px;
    border:  3px solid antiquewhite;
    font-size: clamp( 0.800rem, 0.3vw  + 0.5rem, 0.900rem);
}
.popup-class text{
    font-size: clamp( 0.800rem, 0.3vw  + 0.5rem, 0.900rem);
}
.popup-class h2{
    font-size: clamp( 1rem, 0.3vw  + 0.5rem, 1.100rem);
}
#divGeral{
  display: none;
  margin: auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  color: black;
}

#divInit{
width: 100%;
height: 100vh;
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-size: max(150px, 15%);
background-repeat: no-repeat;
background-position: center;
background-color: rgb(0, 25, 26);
}
#divHeader{
    margin: auto;
    width: 100%;
    max-width: 1920px;
    background-color: rgb(0, 52, 68);
    color: aliceblue;
    padding-bottom: 10px;
}
#head1{
      display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#head2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
#divBody{
    margin: auto;
    width: 100%;
    max-width: 1920px;
}
#BB{
    color: rgb(255, 217, 0);
    font-weight: bold;
    font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem)
}
#BB2{
    color: rgb(26, 25, 25);
    font-weight: bold;
    font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem)
}
#body1{
    margin: auto;
    width: 97%;
    max-width: 1200px;
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 20px;
    
}
#body1 h3{
    color: rgb(255, 255, 255);
    background-color: rgb(196, 143, 0);
    padding: 5px;
    margin-bottom: 10px;
       font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#dadosCliente{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 30px;
}
#divColab{
    margin-top: 10px;
    margin-left: 10px;
}
#i_Tel{
    margin-left: 20px;
    font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
    cursor: pointer;
    font-weight: bold;
    
}
#i_Tel:hover{
    color: rgb(0, 94, 8);
     font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.700rem);
}
#body2{
    margin: auto;
    width: 97%;
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 50px;
}
 #h3Servi{
      color: rgb(255, 255, 255);
    background-color: rgb(0, 52, 68);
    padding: 5px;
    margin-bottom: 5px;
    font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#BBb{
    color:rgb(255, 187, 0) ;
      font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#footerh1{
    color: black;
    background-color: brown;
    width: 100%;
    min-height: 70vh;
    bottom: 3px;
}
.my-custom{
    border-radius: 20px;
    max-width: 400px;
}
.my-custom img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.my-custom h2{
     color:rgb(255, 187, 0) ;
      font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#VerPret{
    cursor: pointer;
    color: rgb(0, 67, 99);
    font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
    font-weight: bolder;
}
#VerPret:hover {
      color:rgb(228, 167, 0) ;
}
#VerPret:hover #I_prest{
color:rgb(0, 116, 25) ;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#div_list{
    width: 100%;
    min-height: 70vh;
}
#header_list{
    margin: auto;
    background-color:rgb(1, 114, 99) ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;

}

#header_list button{
  border: 0cap;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: aliceblue;
  font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
  font-weight: bold;

}
#header_list button:hover{

 color: rgb(255, 217, 0);
}
@media (max-width: 1380px) {
#divBody{
 
  margin: auto;
  width: 80%;
  max-width: 1920px;
  min-height: 100vh;
  color: black;
}
}
@media (max-width: 1170px) {
#divBody{
  margin: auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  color: black;
}
}
#myProgress {
width: 90%;
background-color:rgb(134, 130, 130);
display: none;
border-radius: 7px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
}
#myBar {
width: 2%;
/* Começa com 1% */
height: 20px;
background-color:rgba(0, 219, 18, 0.993);
text-align: center;
/* Centraliza horizontalmente */
line-height: 20px;
/* Centraliza verticalmente */
color: rgb(78, 0, 0);
border-radius: 20px;
font-weight: bold;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}   
.my-customTime{
 margin: auto;
width: 90%;
max-width: 400px;
padding-top: 20px;
padding-bottom: 20px;
}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
animation: girar 10s linear infinite; /* já inicia girando */
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
}
@keyframes girar { from {
transform: rotate(0deg); 
} 
to {
transform: rotate(360deg); 
} 
}
.my-customTime #divInitTime{
width: 100%;
min-height: 15vh;
}
#divOrçar{
    margin: auto;
width: 99%;
min-height: 59vh;
background-color: rgba(0, 255, 255, 0);
display: none;
 border:2px solid  blueviolet;
 margin-top: 10px;
}
#divFinalizar{
width: 100%;
min-height: 59vh;
background-color: rgb(110, 109, 47);
display: none;
}
.my-customAddServ{
margin: auto;
width: 100%;
max-width: 500px;
border-radius: 20px;
border: 5px solid antiquewhite;
margin-bottom: 250px;
}
.my-customAddServ h2{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
color: rgba(250, 235, 215, 0.753);
}
.my-customAddServ p{
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.800rem);
color: rgba(250, 235, 215, 0.753);
}
.my-customAddServ #inputTarefa{
width: 92%;
border: 0cap;
background-color: rgba(237, 237, 255, 0);
padding:10px;
outline-color: rgb(128, 0, 0);
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
cursor: pointer;
margin-right: 10px;
outline: none;
color: rgba(240, 248, 255, 0.829);
}
.my-customAddServ #valorTarefa{
width: 33%;
padding: 5px;
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
float: left;
border: 0cap;
text-align: center;
background-color: rgba(240, 248, 255, 0);
outline: none;
color: rgb(13, 161, 0);
margin-top: 7px;
font-family: fantasy;
}
.menu-container{
border: 1px solid rgba(240, 248, 255, 0.616);
min-height: 9vh;
padding: 10px;
background-color: rgba(0, 8, 8, 0.925);
border: 3px solid rgba(255, 255, 255, 0.329);
border-radius: 20px;
margin-top: 5px;
padding-bottom: 25px;
}
.menu-container #bbtr{
color: rgb(0, 187, 16);
float: left;
margin-top: 11px;
}
.menu-container #addMauis{
width: 37%;
float: right;
margin-right: 10px;
margin-top: 10px;
background-color: rgba(39, 59, 1, 0.445);
color: rgb(5, 150, 0);
font-weight: bold;
border: 1px solid rgb(0, 160, 48);
padding: 5px;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
}
.menu-container  #addMauis:hover{
background-color: aqua;
color: red;
}
.my-customAddServ button{
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.800rem);
border-radius: 10px;
}
.my-customAddServ button:hover{
color: rgb(255, 255, 255);
background-color: rgba(172, 0, 0, 0.705);
}
#divOrçarHeader {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 7px;
padding-bottom: 7px;
background-color: blueviolet;
color: aliceblue;

}
#divOrçarHeader button{
margin-left: 10px;
margin-right: 10px;
border: 0cap;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
color: aliceblue;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
text-decoration: underline 2px solid aliceblue;
}
#divOrçarHeader button:hover{
color: rgb(224, 191, 0);
text-decoration: underline  2px solid rgb(255, 217, 0);
}
#inputPassw{
width: 60%;
padding: 6px;
border: 0cap;
background-color: rgb(240, 243, 255);
outline: none;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);

}
#inputPassw:hover{
background-color: rgb(0, 247, 255);
outline: none;
}
#enterPassw{
    width: 30%;
padding: 8px;
padding-left: 10px;
padding-right: 10px;
border-radius: 1px;
cursor: pointer;
}
@media (max-width: 1600px) {
#enterPassw{
width: 30%;
padding: 8.3px;
padding-left: 10px;
padding-right: 10px;
border-radius: 1px;
cursor: pointer;
}
}
@media (max-width: 1400px) {
#enterPassw{
width: 30%;
padding: 8.5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 1px;
cursor: pointer;
}
}
@media (max-width: 1100px) {
#enterPassw{
width: 30%;
padding: 8.7px;
padding-left: 10px;
padding-right: 10px;
border-radius: 1px;
cursor: pointer;
}
}
@media (max-width: 1900px) {
#enterPassw{
width: 30%;
padding: 8.9px;
padding-left: 10px;
padding-right: 10px;
border-radius: 1px;
cursor: pointer;
}
}
@media (max-width: 700px) {
#enterPassw{
width: 30%;
padding: 9px;
padding-left: 10px;
padding-right: 10px;
border-radius: 1px;
cursor: pointer;
}
}
#enterPassw:hover{
padding-left: 10px;
padding-right: 10px;
background-color: aqua;
color: red;
}
#ppo #verpassw{
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);

}
#ppo:hover #verpassw:hover{
color: rgb(0, 235, 20);
}
#myFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.my-customAddServ_{
    width: 100%;
    max-width: 430px;
    border-radius: 10px;
}
.my-customAddServ_ h2{
    font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);

}