
*{
margin: 0;
padding: 0;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgb(255, 255, 255);
color: rgb(70, 71, 71);
text-rendering: geometricPrecision;
}
.my-custom_alert h2{
 color: rgb(72, 255, 0);
  font-size: clamp( 1.100rem, 1vw + 0.5rem, 1.200rem);
}
.popup-class{
    max-width: 350px;
    border-radius: 20px;
    border:  3px solid antiquewhite;
    font-size: clamp( 0.800rem, 1vw + 0.5rem, 0.900rem);
}
.popup-class text{
    font-size: clamp( 0.800rem, 1vw + 0.5rem, 0.900rem);
}
.popup-class h2{
    font-size: clamp( 1rem, 1vw + 0.5rem, 1.100rem);
}
#divGeral{
    display: none;
}
#divInit{
width: 100%;
height: 100vh;
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-size: max(150px, 15%);
background-repeat: no-repeat;
background-position: center;
background-color: rgb(0, 25, 26);
}