

*{
margin: 0%;
padding: 0%;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgb(255, 255, 255);
color: aliceblue;
text-rendering: geometricPrecision;
}
#divGeral{
margin: auto;
max-width: 1920px;
width: 100%;
background-color: rgba(0, 46, 63, 0);
min-height: 200vh;
}
#divHead{
margin: auto;
width: 100%;
max-width: 1920px;
background-color:rgb(0, 46, 63);
min-height: 3vh;
position: fixed;
color: rgb(255, 255, 255);
z-index: 999;
}
#divHead h2{
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#head1{
width: 100%;
display: flex;
justify-content:space-between;
margin-top: 10px;
color: rgb(255, 255, 255);
padding-bottom: 10px;
}
#head1 button{
border: 0cap;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
color: aliceblue;
margin-right: 10px;
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0900rem);
}
#divBody{
margin: auto;
width: 100%;
max-width: 1400px;
padding-top: 37px;
margin-bottom: 80px;
}
#body1{
background-color: rgba(241, 249, 255, 0);
border-radius: 50px;
min-height: 100vh;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
border-top: 30px solid rgba(192, 182, 0, 0);
}
#divTabela{
width: 100%;
display: flex;
justify-content: space-around;
text-align: center;
color: rgb(46, 46, 46);
background-color: rgb(255, 255, 255);
min-height: 100vh;
padding-bottom: 70px;
flex-wrap: wrap;
padding-top: 20;
}
#div1{
margin: auto;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 800px;
min-width: 640px;
background-color: #f8f8ff;
padding-top: 10px;
padding-bottom: 10px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.541);
border: 2px solid rgba(4, 129, 0, 0);
}
#div1:hover{
border: 2px solid rgba(4, 129, 0, 0.973);
}
#div2{
width: 100%;
cursor: pointer;
}
#Tabela{
margin-bottom: 70px;
}
#divOrçar{
width: 100%;
max-width: 300px;
border-left: 1px solid rgba(1, 75, 85, 0);
border-right: 1px solid rgba(1, 75, 85, 0);
padding-bottom: 70px;
margin-top: 40px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.541);
background-color: #f8f8ff;
}
#h2Orçar{
background-color: rgb(1, 75, 85);
margin-bottom: 10px;
color: #eeeeee;
margin: 7px;
margin-top: 20px;
padding-top: 10px;
padding-bottom: 10px;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
}
#OrçarImput label{
font-size: clamp(0.600rem, 0.3vw  + 0.5rem, 0.700rem);
color: rgb(27, 27, 27);
}
#OrçarImput input{
width: 80%;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
color: rgb(0, 10, 20);
cursor: pointer;
padding: 10px;
border: 1px solid rgba(0, 10, 10, 0.274);
background-color: rgb(255, 255, 255);
border-radius: 2px;
outline-color: #df0000;
}
#OrçarImput input:hover{
background-color: rgb(245, 250, 255);
border: 1px solid rgb(139, 0, 56);
color: rgb(160, 0, 0);
}
@media (max-width: 1000px) {
#div1{
margin: auto;
width: 96%;
max-width: 800px;
min-width: 480px;
background-color: #fefeff;
}
}
@media (max-width: 870px) {
#div1{
margin: auto;
width: 96%;
max-width: 800px;
min-width: 580px;
background-color: #fefeff;
}
#divOrçar{
width: 100%;
max-width: 350px;
}
}
@media (max-width: 600px) {
#div1{
margin: auto;
width: 96%;
max-width: 800px;
min-width: 470px;
background-color: #fefeff;
}
}
@media (max-width: 500px) {
#div1{
margin: auto;
width: 96%;
max-width: 800px;
min-width: 400px;
background-color: #fefeff;
}
}
#div1 label{
margin-right: 10px;
cursor: pointer;
}
#paragrafo{
cursor: pointer;
border: 0cap;
outline: none;
font-size: clamp(0.600rem, 0.3vw  + 0.5rem, 0.700rem);
margin-right: 10px;
margin-left: 10px;
}
#label3{
color: rgba(0, 0, 0, 0.836);
text-decoration: line-through;
}
#divid #botaoid:hover,#paragrafo:hover{
color: rgb(12, 102, 0);
}
#label{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
color: rgb(64, 0, 83);
}
#label2{
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.800rem);
color: rgb(34, 34, 34);
}
#label03{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
color: rgb(34, 34, 34);
}
#label4{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
color: rgb(2, 116, 59);
font-weight: bolder;
}
#Mreq{
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
margin-bottom: 20px;
background-color: #006110;
padding-top: 5px;
padding-bottom: 5px;
color: #e6e6e6;
font-weight: bold;
}
@media (max-width: 638px) {
#Mreq{
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
margin-bottom: 10px;
}
}
#img{
width:64px;
cursor: pointer;
margin-right: 5px;
margin-left: 5px;
}
#body1 h3{
max-width: 250px;
margin-left: 10px;
padding: 7px;
padding-left: 20px;
color: rgb(52, 52, 52);
background-color: rgb(236, 236, 236);
border-radius: 20px;
margin-top: 20px;
cursor: pointer;
}
#checkh3{
margin-left: 15px;
cursor: pointer;
}
#body1 h3:hover{
background-color :rgb(255, 255, 255);
}
#body1 h3:hover i{
color: red;
}
#menu_lateral {
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
top: 35px;
left: -105%;
width: 100%;
min-height: 100%;
background-color: #ffffff;
color: rgb(71, 71, 71);
transition: left 0.3s ease;
z-index: 99;
padding: 0px;
border-right: 1px solid rgb(0, 0, 0);
margin-top: 10px;
overflow: auto;
padding-top: 30px;
border-top: 30px solid rgb(76, 80, 80);
}
#menu_lateral ul {
list-style: none;
padding: 0;
max-height: 80vh;
padding-bottom: 50px;
overflow: auto;
padding-right: 30px;
}
#menu_lateral li {
margin: 20px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
font-size: 18px;
cursor: pointer;
margin-left: 10px;
}
#menu_lateral a:hover{
color: rgb(52, 0, 196);
}
.menu-ativo {
left: 0 !important;
}
#paragrafo3{
font-size: clamp(0.600rem, 0.3vw  + 0.5rem, 0.700rem);
color: rgb(42, 0, 70);
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}
#divFaleCom{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
padding-bottom: 70px;
padding-top: 20px;
background-color: rgba(0, 0, 0, 0);
}
#btnFalecom{
width: 50%;
max-width: 300px;
min-width: 200px;
border: 0cap;
padding: 15px;
cursor: pointer;
background-color: rgb(8, 128, 0);
color: rgb(244, 235, 235);
border-radius: 30px;
box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
font-size: clamp( 1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bold;
}
#ppt{
font-size: clamp( 0.600rem, 0.3vw  + 0.5rem, 0.700rem);
margin-top: 15px;
font-weight: bold;
color: rgba(83, 0, 0, 0.829);
}
#btnFalecom_{
width: 50%;
max-width: 300px;
min-width: 200px;
border: 0cap;
padding: 15px;
cursor: pointer;
background-color: rgb(230, 235, 243);
color: rgb(29, 29, 29);
border-radius: 30px;
font-size: clamp( 0.800rem, 0.3vw  + 0.5rem, 0.900rem);
font-weight: bold;
}
#btnFalecom:hover,#btnFalecom_:hover{
background-color: rgb(0, 228, 19);
color: rgb(32, 0, 0);
}
#pOrçamento{
text-align: center;
margin-top: 80px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#homee{
min-width: 100px;
background-color: #eeeeee;
color: rgb(41, 40, 40);
border: 0cap;
cursor: pointer;
padding: 12px;
box-shadow: 0 3px 7px rgba(20, 20, 20, 0.678);
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
border-radius: 10px;
}
#homee:hover{
background-color: rgb(255, 255, 255);
color: black;
}
#telaCheia{
cursor: pointer;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
margin-top: 10px;
}
#telaCheia:hover{
color: aqua;
}
#h1btnServ{
margin: auto;
width: 84%;
margin-top: 10px;
margin-bottom: 20px;
border:0cap;
padding-top: 10px;
padding-bottom: 10px;
background-color: rgb(229, 233, 255);
color: rgb(17, 1, 1);
text-align: center;
box-shadow: 0 3px 3px rgba(20, 20, 20, 0.562);
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
}
#h1btnServ:hover{
background-color: rgb(255, 255, 255);
color: rgb(124, 0, 114);
box-shadow: 0 1px 1px rgba(7, 0, 0, 0.671);
border-radius: 5px;
}
#divFooter{
margin: auto;
width: 100%;
height: 89vh;
background-color: rgb(0, 0, 0);
border-top: 30px solid rgb(0, 46, 63);
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-size: max(150px, 15%);
background-repeat: no-repeat;
background-position: center;
}
#ffx{
font-size: clamp(1.500rem, 0.3vw  + 0.5rem, 1.600rem);
margin-left: 20px;
}
#i_Click{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#i_Click, #paragrafo3{
cursor: pointer;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#paragrafo3:hover #i_Click{
cursor: pointer;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.100rem);
color: rgb(2, 104, 61);
}
@media (max-width: 1380px) {
#divBody{
margin: auto;
width: 90%;
max-width: 1920px;
min-height: 100vh;
color: black;
}
}
@media (max-width: 1170px) {
#divBody{
margin: auto;
width: 100%;
max-width: 1920px;
min-height: 100vh;
color: black;
}
}
.my-custom{
border-radius: 20px;
max-width: 370px;
}
.my-custom img{
max-width: 150px;
max-height: 150px;
}
.my-custom h2{
color:rgb(255, 187, 0) ;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
.my-custom button{
width: 40%;
cursor: pointer;
border: 0cap;
background-color: #006d3a;
color: rgb(255, 255, 255);
padding: 7px;
border-radius: 3px;
outline: none;
font-weight: bold;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
margin-right: 50px;
}
.my-custom button:hover{
background-color: #1df700;
color: black;
border-radius: 7px;
}
.my-custom label{
cursor: pointer;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
color: rgb(0, 255, 200);
padding: 3px;
}
.my-custom label:hover{
color: rgb(255, 255, 255);
background-color: #cf0101;
border-radius: 5px;
}
#folder img{
margin: auto;
max-height: 70vh;
padding-top: 46px;
transition: transform 0.7s ease;
}
#folder img:hover{
transform: translateY(-12px); 
}
@media (max-width: 1030px) {
#folder img{
margin: auto;
max-height: 57vh;
padding-top: 43px;
transition: transform 0.7s ease;
}
}
@media (max-width: 730px) {
#folder img{
margin: auto;
max-height: 46vh;
padding-top: 43px;
transition: transform 0.7s ease;
}
}
#divOrçar #limparF{
font-weight: bold;
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.800rem);
margin-top: 20px;
cursor: pointer;
}
#i_limp{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#divOrçar #limparF:hover{
color: #ca0000;
}
#myProgress {
width: 90%;
background-color:rgb(134, 130, 130);
display: none;
border-radius: 7px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
}
#myBar {
width: 2%;
/* Começa com 1% */
height: 20px;
background-color:rgba(0, 219, 18, 0.993);
text-align: center;
/* Centraliza horizontalmente */
line-height: 20px;
/* Centraliza verticalmente */
color: rgb(78, 0, 0);
border-radius: 20px;
font-weight: bold;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}   
.my-customTime{
 margin: auto;
width: 90%;
max-width: 400px;
padding-top: 20px;
padding-bottom: 20px;
}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
animation: girar 7s linear infinite; /* já inicia girando */
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.400rem);
}
@keyframes girar { from {
transform: rotate(0deg); 
} 
to {
transform: rotate(360deg); 
} 
}
.my-customTime #divInit{
    width: 100%;
    min-height: 15vh;
}











