*{
margin: 0%;
padding: 0%;
}
::-webkit-scrollbar {
width: 5px;
margin-left: 5px;
margin-top: 5px;
/* Largura da barra de rolagem */
cursor: pointer;
}
::-webkit-scrollbar-thumb {
margin-left: 3px;
background-color: rgba(0, 62, 100, 0.932);
/* Cor do polegar da barra de rolagem */
margin-top: 5px;
border-radius: 5px;
cursor: pointer;
}
:-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-top: 5px;
border-radius: 7 rgb(177, 175, 175);
background-color: rgba(38, 39, 39, 0);
border-radius: 5px;
cursor: pointer;
}
body{
margin:auto;
width: 100%;
font-family: 'Poppins', sans-serif;
background-color: rgb(1, 97, 121);
color: rgb(73, 73, 73);
text-rendering: geometricPrecision;
max-width: 1920px;

}
#divGeral{
margin: auto;
min-width: 100%;
max-width: 1920px;
background-color: rgb(255, 255, 255);
min-height: 100vh;
display: none;
}
header {
margin: auto;
width: 100%;
max-width: 1920px;
z-index: 997;

}
header #heaaderUM{
margin: auto;
width: 100%;
max-width: 1920px;
position: fixed;
background-color: rgba(1, 72, 94, 0.952);
padding-top: 5px;
padding-bottom: 5px;
color: #ffffff;
z-index: 997;
}
header h2{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
font-weight: bold;
color: rgb(255, 255, 255);
}
main{
margin: auto;
width: 100%;
max-width: 1400px;
min-height: 200vh;
background-color: rgba(255, 255, 255, 0);
padding-top: 70px;
}
#mainUtilit{
margin: auto;
width: 97%;
max-width: 1400px;
background-color: rgba(65, 105, 225, 0);
height: auto;
margin-top: 10px;
}
#heaaderUM{
width: 100%;
max-width: 1400px;
justify-content: space-between;
display: flex;
align-items: center;
margin-top: 10px;
margin-bottom: 10px;
}
#heaadflex{
display: flex;
align-items: center;
}
#btnMenu{
margin-right: 10px;
cursor: pointer;
}
#myProgress {
width: 90%;
background-color:rgb(134, 130, 130);
display: none;
border-radius: 7px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
}
#myBar {
width: 2%;
/* Começa com 1% */
height: 20px;
background-color:rgba(0, 219, 18, 0.993);
text-align: center;
/* Centraliza horizontalmente */
line-height: 20px;
/* Centraliza verticalmente */
color: rgb(78, 0, 0);
border-radius: 20px;
font-weight: bold;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}   
.my-customTime{
margin: auto;
width: 90%;
max-width: 400px;
padding-top: 20px;
padding-bottom: 20px;
}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
animation: girar 10s linear infinite; /* já inicia girando */
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
}
@keyframes girar { from {
transform: rotate(0deg); 
} 
to {
transform: rotate(360deg); 
} 
}
.my-customTime #divInit{
width: 100%;
min-height: 15vh;
}
#flexMain{
width: 100%;
max-width: 1400px;
}
#Divlista{
margin: auto;
width: 100%;
max-width: 1300px;
background-color: rgba(255, 255, 255, 0);
margin-bottom: 20px;
min-height: 100vh;
overflow: auto;
padding-bottom: 70px;
}
#flexMain h2{
text-align: center;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#h2T{
text-align: center;
}
#list{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
background-color: rgba(122, 63, 11, 0);
margin-bottom: 10px;
margin-top: 20px;
}
#img{
max-width: 160px;
max-height: 160px;
cursor: pointer;
transition: transform 0.7s ease;
}
#div, #div2{
text-align: center;
margin-bottom: 10px;
}
#img:hover{
    transform: translateY(-12px);
}
#lis{
width: 100%;
max-width: 330px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;
margin-top: 20px;
}
@media (max-width: 1130px) {
#lis{
width: 100%;
max-width: 320px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;
}
}
@media (max-width: 930px) {
#lis{
width: 100%;
max-width: 320px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;
}
#mainLateral{
display: none;
}
#Divlista{
margin: auto;
width: 100%;
max-width: 900px;
background-color: rgba(255, 255, 255, 0);
margin-bottom: 20px;
height: auto;
overflow: auto;
}
}
@media (max-width: 720px) {
#lis{
width: 100%;
max-width: 350px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;

}
#list{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
background-color: rgba(122, 63, 11, 0);
margin-bottom: 10px;

}
}
#label3{
color: rgba(0, 0, 0, 0.836);
text-decoration: line-through;
}
#div3{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
#div4{
text-align: center;
margin-top: 20px;
margin-bottom: 50px;
}
#button{
cursor: pointer;
width: 80%;
padding: 7px;
background-color: rgba(5, 124, 74, 0.993);
color: #ffffff;
border: 0cap;
border-radius: 10px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#button:hover{
background-color: rgba(0, 216, 0, 0.993);
color: #ffffff;
}
#list #label{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bold;
}
#list #label2{
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.700rem);
}
#list #label4{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
color: rgb(59, 59, 59);
font-weight: bold;
}
#list #label4{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
color: rgb(0, 161, 27);
font-weight: bold;
}
#mainUtilit p{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#pesquisa{
width: 20px;
position: fixed;
top: 150px;
cursor: pointer;
padding: 10px;
border: 0cap;
background-color: #ffffff00;
}
#mainUtilit #telaCheia{
width: 20px;
position: fixed;
top: 220px;
cursor: pointer;
padding: 10px;
border: 0cap;
background-color: #ffffff00;
color: black;
margin-left: 12px;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#pesquisa i{
font-size: clamp(1.500rem, 0.3vw  + 0.5rem, 1.600rem);
font-weight: bolder;
padding: 10px;
border-radius: 50%;
background-color: rgb(230, 230, 230);
color: rgb(56, 56, 56);
}
#pesquisa i:hover{
background-color: aqua;
color: rgb(163, 0, 0);
}
footer{
width: 100%;
max-width: 1920px;
min-height: 20vh;
background-color: rgb(0, 48, 87);
}
#SSair{
float: right;
top: 10px;
border: 0cap;
background-color: #ffffff00;
color: #ffffff;
cursor: pointer;
font-weight: bold;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
.my-custom {
width: 90%;
max-width: 400px;
border-radius: 20px;
}
.my-custom select{
width: 80%;
padding: 7px;
cursor: pointer;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
background-color: #ffffff;
}
.my-custom p{
color: #ffffff;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
margin-top: 20px;
margin-bottom: 5px;
}
.my-custom button{
width: 50px;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
margin-top: 20px;
}
#lblItens{
display: none;
color: rgb(255, 145, 0);
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bold;
}
.my-custom  img{
width: 77px;
position: fixed;
float: left;
}
#telaCheia{
cursor: pointer;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
margin-right: 20px;
background-color: #ffffff00;
outline: none;
color: #ffffff;
}
#btnMenu{
cursor: pointer;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
background-color: #ffffff00;
margin-right: 10px;
border: 0cap;
outline: none;
color: #ffffff;
}
#menu_lateral {
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
top: 35px;
left: -105%;
width: 100%;
min-height: 100%;
background-color: #ffffff;
color: rgb(71, 71, 71);
transition: left 0.3s ease;
z-index: 883;
padding: 0px;
border-right: 1px solid rgb(0, 0, 0);
margin-top: 10px;
overflow: auto;
padding-top: 30px;
}
#menu_lateral ul {
list-style: none;
padding: 0;
max-height: 80vh;
padding-bottom: 50px;
overflow: auto;
padding-right: 30px;
}
#menu_lateral li {
margin: 20px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
font-size: 18px;
cursor: pointer;
margin-left: 10px;
}
#menu_lateral a:hover{
color: rgb(52, 0, 196);
}
.menu-ativo {
left: 0 !important;
}
