*{
margin: 0%;
padding: 0%;
}
::-webkit-scrollbar {
width: 5px;
margin-left: 5px;
margin-top: 5px;
/* Largura da barra de rolagem */
cursor: pointer;
}
::-webkit-scrollbar-thumb {
margin-left: 3px;
background-color: rgba(0, 62, 100, 0.932);
/* Cor do polegar da barra de rolagem */
margin-top: 5px;
border-radius: 5px;
cursor: pointer;
}
:-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-top: 5px;
border-radius: 7 rgb(177, 175, 175);
background-color: rgba(38, 39, 39, 0);
border-radius: 5px;
cursor: pointer;
}
body{
margin:auto;
width: 100%;
font-family: 'Poppins', sans-serif;
background-color: rgb(1, 97, 121);
color: rgb(73, 73, 73);
text-rendering: geometricPrecision;
max-width: 1920px;

}
#divGeral{
margin: auto;
min-width: 100%;
max-width: 1920px;
background-color: rgb(255, 255, 255);
min-height: 100vh;
display: none;
}
header {
margin: auto;
width: 100%;
max-width: 1920px;
z-index: 997;

}
header #heaaderUM{
margin: auto;
width: 100%;
max-width: 1920px;
position: fixed;
background-color: rgba(1, 72, 94, 0.952);
padding-top: 5px;
padding-bottom: 5px;
color: #ffffff;
z-index: 997;
}
header h2{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
font-weight: bold;
color: rgb(255, 255, 255);
}
main{
margin: auto;
width: 100%;
max-width: 1400px;
min-height: 200vh;
background-color: rgba(255, 255, 255, 0);
padding-top: 70px;
}
#mainUtilit{
margin: auto;
width: 97%;
max-width: 1400px;
background-color: rgba(65, 105, 225, 0);
height: auto;
margin-top: 10px;
}
#heaaderUM{
width: 100%;
max-width: 1400px;
justify-content: space-between;
display: flex;
align-items: center;
margin-top: 10px;
margin-bottom: 10px;
}
#heaadflex{
display: flex;
align-items: center;
}
#btnMenu{
margin-right: 10px;
cursor: pointer;
}
#myProgress {
width: 90%;
background-color:rgb(134, 130, 130);
display: none;
border-radius: 7px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
}
#myBar {
width: 2%;
/* Começa com 1% */
height: 20px;
background-color:rgba(0, 219, 18, 0.993);
text-align: center;
/* Centraliza horizontalmente */
line-height: 20px;
/* Centraliza verticalmente */
color: rgb(78, 0, 0);
border-radius: 20px;
font-weight: bold;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}   
.my-customTime{
margin: auto;
width: 90%;
max-width: 400px;
padding-top: 20px;
padding-bottom: 20px;
}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
animation: girar 10s linear infinite; /* já inicia girando */
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
}
@keyframes girar { from {
transform: rotate(0deg); 
} 
to {
transform: rotate(360deg); 
} 
}
.my-customTime #divInit{
width: 100%;
min-height: 15vh;
}
#flexMain{
width: 100%;
max-width: 1400px;
}
#Divlista{
margin: auto;
width: 100%;
max-width: 1300px;
background-color: rgba(255, 255, 255, 0);
margin-bottom: 20px;
min-height: 100vh;
overflow: auto;
padding-bottom: 70px;
}
#flexMain h2{
text-align: center;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#h2T{
text-align: center;
}
#list{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
background-color: rgba(122, 63, 11, 0);
margin-bottom: 10px;
margin-top: 20px;
}
#img{
max-width: 160px;
max-height: 160px;
cursor: pointer;
transition: transform 0.7s ease;
}
#div, #div2{
text-align: center;
margin-bottom: 10px;
}
#img:hover{
 transform: translateY(-12px);
}
#lis{
width: 100%;
max-width: 330px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;
margin-top: 20px;
}
@media (max-width: 1130px) {
#lis{
width: 100%;
max-width: 320px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;
}
}
@media (max-width: 930px) {
#lis{
width: 100%;
max-width: 320px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;
}
#mainLateral{
display: none;
}
#Divlista{
margin: auto;
width: 100%;
max-width: 900px;
background-color: rgba(255, 255, 255, 0);
margin-bottom: 20px;
height: auto;
overflow: auto;
}
}
@media (max-width: 720px) {
#lis{
width: 100%;
max-width: 350px;
background-color: rgba(78, 0, 0, 0);
margin-bottom: 10px;
margin-right: 20px;
}
#list{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
background-color: rgba(122, 63, 11, 0);
margin-bottom: 10px;
}
}
#label3{
color: rgba(0, 0, 0, 0.836);
text-decoration: line-through;
}
#div3{
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
#div4{
text-align: center;
margin-top: 20px;
margin-bottom: 50px;
}
#button{
cursor: pointer;
width: 80%;
padding: 10px;
background-color: rgba(0, 91, 151, 0.993);
color: #ffffff;
border: 0cap;
border-radius: 3px;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
 font-weight: bold;
}
#button:hover{
background-color: rgba(3, 141, 233, 0.993);
color: #ffffff;
}
#button2{
  cursor: pointer;
width: 80%;
padding: 7px;
background-color: rgba(0, 124, 72, 0.993);
color: #ffffff;
border: 0cap;
border-radius: 3px;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.800rem);
 margin-top: 7px;
 font-weight: bold;
}
#button2:hover{
background-color: rgba(0, 197, 0, 0.993);
color: #ffffff;
}
#list #label{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bold;
}
#list #label2{
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.700rem);
}
#list #label3{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
color: rgb(59, 59, 59);

}
#list #label4{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
color: rgb(0, 161, 27);
font-weight: bold;
}
#mainUtilit p{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#pesquisa{
width: 20px;
position: fixed;
top: 150px;
cursor: pointer;
padding: 10px;
border: 0cap;
background-color: #ffffff00;
}
#mainUtilit #telaCheia{
width: 20px;
position: fixed;
top: 220px;
cursor: pointer;
padding: 10px;
border: 0cap;
background-color: #ffffff00;
color: black;
margin-left: 12px;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#pesquisa i{
font-size: clamp(1.500rem, 0.3vw  + 0.5rem, 1.600rem);
font-weight: bolder;
padding: 10px;
border-radius: 50%;
background-color: rgb(230, 230, 230);
color: rgb(56, 56, 56);
}
#pesquisa i:hover{
background-color: aqua;
color: rgb(163, 0, 0);
}
footer{
width: 100%;
max-width: 1920px;
min-height: 20vh;
background-color: rgb(0, 48, 87);
}
#SSair{
float: right;
top: 10px;
border: 0cap;
background-color: #ffffff00;
color: #979797;
cursor: pointer;
font-weight: bold;
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
}
#SSair:hover{
color: #c9006e;
}
.my-custom {
width: 90%;
max-width: 400px;
border-radius: 20px;
}
.my-custom select{
width: 80%;
padding: 10px;
cursor: pointer;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
background-color: #e7f6ff;
outline: none;
border: 0cap;
color: #333333;
border-radius: 7px;
}
.my-custom select option{
font-weight: bold;
}
.my-custom p{
color: #474747;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
margin-top: 20px;
margin-bottom: 5px;
}
.my-custom button{
width: 50px;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
margin-top: 20px;
}
#lblItens{
display: none;
color: rgb(206, 110, 0);
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-weight: bold;
}
.my-custom  img{
width: 77px;
position: fixed;
float: left;
}
#telaCheia{
cursor: pointer;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
margin-right: 20px;
background-color: #ffffff00;
outline: none;
color: #ffffff;
}
#btnMenu{
cursor: pointer;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
background-color: #ffffff00;
margin-right: 10px;
border: 0cap;
outline: none;
color: #ffffff;
}
#menu_lateral {
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
top: 38px;
left: -105%;
width: 100%;
min-height: 100vh;
background-color: #ffffff;
color: rgb(71, 71, 71);
transition: left 0.3s ease;
z-index: 100;
padding: 0px;
margin-top: 3px;
overflow: auto;
padding-top: 20px;
padding-bottom: 50px;
}
#menu_lateral ul {
list-style: none;
padding: 0;
max-height: 88vh;
padding-bottom: 50px;
overflow: auto;
padding-right: 30px;
}
#menu_lateral li {
margin: 14px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
cursor: pointer;
margin-left: 10px;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
}
#menu_lateral a:hover{
color: rgb(52, 0, 196);
}
.menu-ativo,.pagamentos-ativo {
left: 0 !important;
}
@media (max-width: 1600px) {
#menu_lateral li {
margin: 10px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
cursor: pointer;
margin-left: 10px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 0.900rem);
font-weight: bold;
}
}
@media (max-width: 1400px) {
#menu_lateral li {
margin: 5px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
cursor: pointer;
margin-left: 10px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 0.800rem);
font-weight: bold;
}
}
@media (max-width: 1190px) {
#menu_lateral li {
margin: 5px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
cursor: pointer;
margin-left: 10px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 0.800rem);
font-weight: bold;
}
}
@media (max-width: 795px) {
#menu_lateral li {
margin: 12px 0;
}
#menu_lateral a {
color: rgb(70, 70, 70);
text-decoration: none;
cursor: pointer;
margin-left: 10px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
}
}
#lblServ{
color: #830148;
font-size: clamp( 1rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
}

#pagamentos{
margin: auto;
width: 100%;
position: fixed;
left: -105%;
width: 100%;
height: 160vh;
background-color: #ffffff;
color: rgb(56, 56, 56);
transition: left 0.3s ease;
z-index: 999;
padding: 0px;
margin-top: 0px;
overflow: auto;
padding-top: 1px;
margin-bottom: 70px;
padding-bottom: 370px;
overflow: auto;
}
#pagamentos h2{
  text-align: center;
margin-bottom: 10px;
margin-left: 12px;
}
#cad{
margin: auto;
margin-top: 20px;
width: 99%;
max-width: 800px;
background-color: #0c014100;
color: #525252;
height: 150vh;
overflow: auto;
padding-bottom: 370px;
}
#divreceb {
text-align: center;
}
#divreceb p{
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
font-weight: bold;
margin-top: 10px;
  color: #2b2b2b;
}
#divreceb input{
margin: auto;
width: 43%;
min-width: 343px;
padding: 12px;
margin-right: 7px;
margin-bottom: 10px;
cursor: pointer;
border: 0cap;
outline-color: #830148;
background-color: #e0e8ff;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
border-radius: 5px;
margin-left: 5px;
}
#Input_cidade{
margin: auto;
width: 46%;
min-width: 370px;
padding: 11px;
margin-right: 7px;
margin-bottom: 10px;
cursor: pointer;
border: 0cap;
outline-color: #830148;
background-color: #e0e8ff;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
border-radius: 5px;
margin-left: 5px;
}
#lblValtarPG{
color: #313131;
cursor: pointer;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
margin-left: 10px;
font-weight: bold;
}
#PagamentoRD{
margin: auto;
cursor: pointer;
width: 88%;
display: flex;
justify-content: center;
align-items: center;
max-width: 400px;
background-color: rgb(0, 101, 168);
outline: none;
border: 0cap;
padding: 5px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-weight: bold;
color: #ffffff;
margin-top: 12px;
}
#PagamentoRD:hover{
background-color: #00a57c;
}
#PagamentoRD img{
margin-right: 5px;

}
.pagamentos-ativo {
left: 0 !important;
}
#lblTTMP{
    color: #363636;
    font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}
#cad h2{
      color: #242424;
}
#ppc{
  color: #00a57c;
  font-weight: bolder;
  font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
}
#bbtb{
  color: #000000;
}
.my-custom_mpw {
  width: 95%;
  max-width: 520px;
  border-radius: 10px;
  background-color: #e7f6ff;
  margin: 0%;
}
.my-custom_mpw #Gerente_RD{
  width: 80%;
  padding: 10px;
  background-color: rgb(235, 239, 255);
  color: #474747;
  border: 0cap;
  border-radius: 3px;
  font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
   min-width: 200px;
   margin-top: 0;
    cursor: pointer;
    font-weight: bolder;
     outline: none;
}
.my-custom_mpw #Gerente_RD:hover{
  background-color: rgb(0, 148, 86);
  color: #ffffff;
}
.my-custom_mpw #mpdflex{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  top: 30px;
  right: 0px;
  background-color:  rgba(1, 72, 94, 0.952);
}
.my-custom_mpw #mpdflex img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 5px;
} 
.my-custom_mpw button{
 min-width: 73px;
  cursor: pointer;
  margin-top: 0%;
  padding: 5px;
   font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
    outline: none;
}
.my-custom_mpw button:hover{
  color: #ffffff;
  background-color: rgb(163, 0, 0);
}

.my-custom_mpw p{
  margin: auto;
  width: 99%;
  font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
  color: #1a1a1a;
  margin-top: 55px;
}
#gvendas{
  color:  rgba(0, 133, 11, 0.952);
  font-weight: bold;
    font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
}