
*{
margin: 0;
padding: 0;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgb(255, 255, 255);
color: rgb(70, 71, 71);
text-rendering: geometricPrecision;
}
.my-custom_alert h2{
 color: rgb(72, 255, 0);
  font-size: clamp( 1.100rem, 1vw + 0.5rem, 1.200rem);
}
.popup-class{
    max-width: 350px;
    border-radius: 20px;
    border:  3px solid antiquewhite;
    font-size: clamp( 0.800rem, 1vw + 0.5rem, 0.900rem);
}
.popup-class text{
    font-size: clamp( 0.800rem, 1vw + 0.5rem, 0.900rem);
}
.popup-class h2{
    font-size: clamp( 1rem, 1vw + 0.5rem, 1.100rem);
}
#divGeral{
    display: none;
    width: 100%;
    max-width: 1920px;
    color: black;
}
#divInit{
width: 100%;
height: 100vh;
background-image: url('../src/RD_logo2.png');
background-size: 30%;
background-size: max(150px, 15%);
background-repeat: no-repeat;
background-position: center;
background-color: rgb(0, 25, 26);
}
#divHeader{
    margin: auto;
    width: 100%;
    max-width: 1920px;
    background-color: rgb(0, 52, 68);
    color: aliceblue;
    padding-bottom: 10px;
}
#head1{
      display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#head2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
#BB{
    color: rgb(255, 217, 0);
    font-weight: bold;
    font-size: clamp(1.100rem, 1vw + 0.5rem, 1.200rem)
}
#BB2{
    color: rgb(26, 25, 25);
    font-weight: bold;
    font-size: clamp(0.900rem, 1vw + 0.5rem, 1rem)
}
#body1 h3{
    color: rgb(128, 94, 0);
}